body {
    /* atentie la navigare, incerci sa incarci un asset din assets in resources fiind. am atasat un screenshot sa iti arat ca imaginile nu se incarca */
    /* background-image: url("/assets/bg.jpg") ; */
    background-image: url("../assets/bg.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    margin-left: 15%;
}

h1 {
    margin: 80px 0 0;
    font-size: 90px;
    font-weight: 500;
}

h2 {
    margin-top: 5px;
    font-size: 45px;
    font-weight: 400;
}

p {
    margin: 80px 0 0;
    width: 430px;
    font-size: 18px;
    font-weight: 100;
    line-height: 40px;
    /* sugestie #aaa */
    color: #aaaaaa;
}

button {
    width: 250px;
    height: 50px;
    /* aceasta tehnica pe o rezolutie mai mica iti va face probleme, iti sugerez in situatii similare sa te bazezi pe simple tehnici de spatiere. iti atasez un screenshot cu rezultatul pe o rezolutie mai mica. */
    position: fixed;
    bottom: 20%;
    background: transparent;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
}

button:hover {
    background-color: #fff;
    color: #330379;
    cursor: pointer;
}

#Login,
#Login:hover {
    padding: 5px 40px;
    background-color: #fff;
    color: #330379;
    border-radius: 25px;
}

a:hover {
    text-decoration: none;
    color: #ecc42a;
    cursor: pointer;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

li {
    display: inline-block;
    margin: 30px 20px;
}


footer {
    position: fixed;
    left: 50%;
    bottom: 1%;
    margin: 0 auto;
    /* transform: translate(-50%, -50%); */
}

img {
    width: 100px;
}